OPENAI_API_KEY="your-openai-api-key"
GEMINI_API_KEY="your-gemini-api-key"
DEEPSEEK_API_KEY="your-deepseek-api-key"
COHERE_API_KEY="your-cohere-api-key"

OPENAI_EMBEDDING_MODEL="text-embedding-3-large"
COHERE_EMBEDDING_MODEL="embed-english-light-v3.0"
GEMINI_EMBEDDING_MODEL="gemini-embedding-001"
DEEPSEEK_MODEL_ID="deepseek/deepseek-r1-0528:free"

EVALUATION_MODEL="gpt-4o-mini"

OPENAI_MODEL_ID="gpt-5-mini"
GEMINI_MODEL_ID="gemini-3-flash-preview"

EMBEDDING_PROVIDER="openai"
EMBEDDING_DIMENSION=768

FILTER=False
SPLIT=False

STREAMING=True

FILE_FORMATS=["application/pdf"]
FILE_PAGES=100
FILE_CHUNK_SIZE=512000

CHUNK_SIZE=500
CHUNK_OVERLAP=100

DB_DIR="assets/database/qdrant_db"

# PostgreSQL Database (for chat history)
DATABASE_URL="postgresql+asyncpg://postgres:password@localhost:5432/mmrag"